
.cs-skin-slide > span::after,
.cs-skin-slide.cs-active > span::after,
#sync2 .item .item-text:before,
#sync1 .item .item-icon,
.member-wrap .sub-name-mem,
.list-social-team li:hover.icon-soc-team a,
.list-social-share li:hover.icon-soc-share a,
.post-content-com-top p span,
.reply:hover,
.cs-skin-slide .cs-options li span:hover,
.cs-skin-slide .cs-options li.cs-focus span,
.cs-skin-slide .cs-options li.cs-selected span,
.list-social li.icon-soc a,
li.selected,
.thin-text em,
.footer-social a:hover,
.footer-social a::before,
.footer-social a::after, 
.footer-credit a:hover,
.footer-credit a::before,
.footer-credit a::after,
.pracing-wrap .link a:hover,
.pracing-wrap .link a::before,
.pracing-wrap .link a::after,
.services-down .link-services-down a:hover,
.services-down .link-services-down a::before,
.services-down .link-services-down a::after,
.services-down .link-services-down a span,
.project-top-text .link-project-down a:hover,
.project-top-text .link-project-down a::before,
.project-top-text .link-project-down a::after,
.project-top-text .link-project-down a span,
.blog-wrap .link-blog-down a,
.blog-wrap .link-blog-down a:hover span,
.load-more-wrap .link-load a,
.load-more-wrap .link-load a:hover span,
.link-tag a:hover,
.link-recents a:hover,
.project-box .work-link a:hover,
.project-box .work-link a::before,
.project-box .work-link a::after,
.project-box .work-link a span,
.what-we-do-wrap .icon-top,
.what-we-do-wrap .plus-more:before,
.services-more-wrap .icon-top:before,
#cboxClose:hover,
#cboxNext:hover,
#cboxPrevious:hover,
.project-arrow-left:hover,
.project-arrow-right:hover,
.project-close:hover,
.pracing-wrap .prc-img-wrap .icon-table:before,
.pracing-wrap .price,
.small-text-pages span,
#sync3 .item .number,
#sync4 .item:hover .icon-values:before,
#sync4 .synced .item .icon-values:before,
.project-top-text p span,
.icon-testi,
.blog-wrap p span,
.list-in-blog-content li span {
	color: #ff418b;
}
.footer-credit a span{
	border-bottom:1px solid #ff418b;
}

.cl-effect-20 a span {
	box-shadow: inset 0 3px #ff418b;
}
.content-section .line-text,
.cl-effect-20 a span::before,
.pageflip .flip-navigation a,
.project-single-wrapper .line-text,
span.hei-text-pink,
.post-sidebar input:active,
.post-sidebar input:focus,
.leave-reply input:active,
.leave-reply input:focus,
.leave-reply textarea:active,
.leave-reply textarea:focus {
	background: #ff418b;
}
#sync2 .synced .item {
	border-color: #ff418b;
}
#sync4 .item:hover  {
	border-color: #ff418b;
}
#sync4 .synced .item  {
	border-color: #ff418b;
}
.what-we-do-wrap:hover{ 
	border-color: #ff418b;
}
.arrow-up:hover{
	background: #ff418b; 
}
::selection {
	background: rgba(255,65,139,.6);
	color:#fff;
}
::-moz-selection {
	background: rgba(255,65,139,.6);
	color:#fff;
}

.testi-wrap .bx-wrapper .bx-controls-direction a {
	background-color: #ff418b; 
}
p.text-border-left{ 
	border-left:3px solid #ff418b;
}
span.hei-text-pink-opac{
	background: rgba(255,65,139,.4);
}
.leave-reply textarea:-ms-input-placeholder,
.leave-reply input:-ms-input-placeholder  {
	color: rgba(255,65,139,.6);
}
.leave-reply textarea::-moz-placeholder,
.leave-reply input::-moz-placeholder  {
	color: rgba(255,65,139,.6);
}
.leave-reply textarea:-moz-placeholder,
.leave-reply input:-moz-placeholder  {
	color: rgba(255,65,139,.6);
}
.leave-reply textarea::-webkit-input-placeholder,
.leave-reply input::-webkit-input-placeholder  {
	color: rgba(255,65,139,.6);
}
.post-sidebar input:-ms-input-placeholder  {
	color: rgba(255,65,139,.6);
}
.post-sidebar input::-moz-placeholder  {
	color: rgba(255,65,139,.6);
}
.post-sidebar input:-moz-placeholder  {
	color: rgba(255,65,139,.6);
}
.post-sidebar input::-webkit-input-placeholder  {
	color: rgba(255,65,139,.6);
}
#ajax-form button,
button.post-comment{
	color: rgba(255,65,139,.8);
}
#ajax-form button:hover,
button.post-comment:hover{
	background: #ff418b; 
}
.quote-post h5:before{
	color: #ff418b;
}
.quote-post h5:after,
.link-post:hover h5,
.link-post:hover h5 span,
.button-map:hover,
.close-map:after,
.show-map:after {
	color: #ff418b;
}
.link-post{
	background: rgba(255,65,139,.7);
}
#ajax-form textarea:active,
#ajax-form input:active {	
	border-bottom:1px solid rgba(255,65,139,.7);
}
#ajax-form textarea:focus,
#ajax-form input:focus {	
	border-bottom:1px solid rgba(255,65,139,.7);
}
#ajax-form input:-ms-input-placeholder  {
	color: rgba(255,65,139,.7);
}
#ajax-form input::-moz-placeholder  {
	color: rgba(255,65,139,.7);
}
#ajax-form input:-moz-placeholder  {
	color: rgba(255,65,139,.7);
}
#ajax-form input::-webkit-input-placeholder  {
	color: rgba(255,65,139,.7);
}
#ajax-form textarea:-ms-input-placeholder  {
	color: rgba(255,65,139,.7);
}
#ajax-form textarea::-moz-placeholder  {
	color: rgba(255,65,139,.7);
}
#ajax-form textarea:-moz-placeholder  {
	color: rgba(255,65,139,.7);
}
#ajax-form textarea::-webkit-input-placeholder  {
	color: rgba(255,65,139,.7);
}








